html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
    background-color: #F16969;
}

#uj-sor:hover {
	color: red;
}

h1 {
  font-size: 60px;
  text-align: center;

  padding: 20px 0;    
  color: #00539F;
  text-shadow: 30px 30px 3px black;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {

  width: 800px;
  margin: 0 auto;
  background-color: #9B9B9B;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}

img {
  display: block;
  margin: 0 auto;
}